@use "../../styles/mixinsNew";
@use "../../styles/colorsNew";

.tooltip {
  @include mixinsNew.tooltipBorder(transparent);

  :global(.tooltip-inner) {
    background-color: colorsNew.$white01;
    border-radius: 1.2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  }

  :global(.arrow)::before {
    box-shadow: 4px 4px 8px -2px rgba(0, 0, 0, 0.1), 4px 4px 8px -6px rgba(0, 0, 0, 0.1);
  }
}
