@use "../../styles/colorsNew";
@use "../../styles/mixinsNew";

.label {
  @include mixinsNew.text(1rem, 1.4rem);
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: colorsNew.$gray03;

  &__text {
    margin-bottom: 0.6rem;
  }
}
