@import "tailwindcss" source(none);
@source "../src";
@import "tw-animate-css";
@import "./styles/shadcn-theme.css";

body {
  font-size: 1rem;
  line-height: 1.5;
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
